<a href="https://colab.research.google.com/github/ram30219/python_data_types/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
k=[4,2.56789,9,87.9999,40,]
k

[4, 2.56789, 9, 87.9999, 40]

In [5]:
pd.Series(k)

0     4.00000
1     2.56789
2     9.00000
3    87.99990
4    40.00000
dtype: float64

In [10]:
a=np.random.randint(20,50,55)
a

array([28, 37, 43, 32, 24, 23, 41, 40, 24, 30, 34, 48, 24, 29, 48, 27, 48,
       42, 22, 43, 32, 32, 48, 33, 41, 26, 35, 26, 49, 20, 24, 30, 21, 21,
       40, 36, 43, 49, 48, 24, 36, 46, 47, 47, 25, 37, 40, 38, 20, 41, 21,
       31, 33, 27, 36])

In [11]:
a.ndim

1

In [12]:
pd.Series(a)

0     28
1     37
2     43
3     32
4     24
5     23
6     41
7     40
8     24
9     30
10    34
11    48
12    24
13    29
14    48
15    27
16    48
17    42
18    22
19    43
20    32
21    32
22    48
23    33
24    41
25    26
26    35
27    26
28    49
29    20
30    24
31    30
32    21
33    21
34    40
35    36
36    43
37    49
38    48
39    24
40    36
41    46
42    47
43    47
44    25
45    37
46    40
47    38
48    20
49    41
50    21
51    31
52    33
53    27
54    36
dtype: int64

In [15]:
a[4:10]

array([24, 23, 41, 40, 24, 30])

In [19]:
np.random.seed(34)
b=np.random.randint(100,200,(6,5))
b

array([[133, 185, 168, 135, 169],
       [111, 178, 129, 118, 129],
       [189, 129, 120, 196, 162],
       [105, 120, 151, 119, 185],
       [121, 163, 172, 142, 184],
       [172, 177, 136, 102, 137]])

In [20]:
b.ndim

2

In [21]:
b.shape

(6, 5)

In [29]:
pd.DataFrame(b,columns=['Roll','name','age','adds','contry'])

   Roll  name  age  adds  contry
0   133   185  168   135     169
1   111   178  129   118     129
2   189   129  120   196     162
3   105   120  151   119     185
4   121   163  172   142     184
5   172   177  136   102     137

In [32]:
df.iloc[[0,1]]

NameError: name 'df' is not defined